In [1]:
import json
import pandas as pd 
from db.redis_database import RedisDatabase

In [40]:
df = pd.read_csv("naukri.csv")
df.set_index("timecode", inplace=True)
df.index = pd.to_datetime(df.index)
df.sort_values(by="timecode", inplace=True)

In [46]:
df_9_15 = df["2021-10-19 09:00:00":]
df_9_15["price"].resample("1D").ohlc()

              open    high      low    close
timecode
2021-10-19  7048.0  7465.0  6629.85  6931.55

In [31]:
ohlc = df["price"].resample("1min").ohlc()

In [9]:
ohlc["volume_diff"] = (df["volume"].resample("1min").max()).diff()

In [24]:
df_9_15["price"].resample("15min").ohlc()

                       open     high      low   close
timecode
2021-10-19 09:15:00  2720.0  2721.75  2714.15  2714.6

In [32]:
ohlc.loc['2021-10-19 09:15:00']

open     2720.00
high     2721.75
low      2714.15
close    2715.25
Name: 2021-10-19 09:15:00, dtype: float64

In [37]:
ohlc["2021-10-19 09:25:00":]

                        open     high      low    close
timecode
2021-10-19 09:25:00  2719.90  2724.50  2719.30  2724.50
2021-10-19 09:26:00  2725.00  2728.35  2724.80  2728.30
2021-10-19 09:27:00  2727.55  2728.30  2723.25  2724.30
2021-10-19 09:28:00  2724.25  2726.00  2723.20  2725.00
2021-10-19 09:29:00  2725.00  2725.45  2724.05  2724.15
...                      ...      ...      ...      ...
2021-10-19 15:56:00  2731.85  2731.85  2731.85  2731.85
2021-10-19 15:57:00  2731.85  2731.85  2731.85  2731.85
2021-10-19 15:58:00  2731.85  2731.85  2731.85  2731.85
2021-10-19 15:59:00  2731.85  2731.85  2731.85  2731.85
2021-10-19 16:00:00  2731.85  2731.85  2731.85  2731.85

[396 rows x 4 columns]